/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  background: #141414;
  color: #fff;
}

/* NAVBAR */
.navbar{
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background: rgba(0,0,0,0.85);
}

.logo{
  color: #e50914;
  font-size: 28px;
  font-weight: 800;
}

.nav-links{
  display: flex;
  gap: 20px;
}

.nav-links a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.nav-right{
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-box{
  background: #000;
  border: 1px solid #555;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  width: 140px;
}

.avatar{
  background: #e50914;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

/* HERO */
.hero{
  position: relative;
  height: 75vh;
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay{
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #141414, transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.hero-overlay h1{
  font-size: 48px;
}

.hero-overlay p{
  margin-top: 10px;
  font-size: 18px;
}

/* SECTION */
.section{
  padding: 30px;
}

.section h2{
  margin-bottom: 15px;
}

/* ROW (NETFLIX SCROLL) */
.row{
  display: flex;
  grid-auto-flow: column;
  grid-auto-columns: 220px;
  gap: 20px;
  overflow-x: auto;
}

.row::-webkit-scrollbar{
  display: none;
}

/* CARD */
.card{
  min-width: 220px;
  transition: transform 0.3s;
}

.card img{
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 6px;
}

.card:hover{
  transform: scale(1.08);
}

/* MOBILE */
@media (max-width: 768px){

  .nav-links{
    display: none;
  }

  .hero{
    height: 50vh;
  }

  .hero-overlay h1{
    font-size: 28px;
  }

  .hero-overlay{
    padding-left: 20px;
  }

  .section{
    padding: 20px;
  }

  .card{
    min-width: 160px;
  }

  .card img{
    height: 230px;
  }

  .search-box{
    width: 100px;
  }
}
