* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #141414;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 48px;
  background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.2));
}

.logo {
  color: #e50914;
  font-size: 28px;
  font-weight: 800;
}

.nav-links {
  display: flex;
  gap: 18px;
  font-size: 14px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 32px;
  height: 32px;
  background: #3b82f6;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-weight: 700;
}
.front img{
    padding-left: 10%;
    height: 60%;
    width: 90%;
}

.search-box {
  background: #000;
  border: 1px solid #444;
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  outline: none;
}

/* SECTION */
.section {
  padding: 24px 48px;
}

.section h2 {
  font-size: 20px;
  margin-bottom: 14px;
}

/* ROW */
.row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 220px;
  gap: 12px;
  overflow-x: auto;
}

.row::-webkit-scrollbar {
  display: none;
}

/* CARD */
.card {
  position: relative;
  height: 100%;
  width: 100%;
  background: #2a2a2a;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .25s ease;
}

.card:hover {
  transform: scale(1.15);
  z-index: 2.5;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #e50914;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 3px;
  font-weight: 700;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 6px 8px;
  font-size: 12px;
  background: linear-gradient(to top, rgba(0,0,0,.8), transparent);
}

@media (max-width: 768px) {
  .navbar,
  .section {
    padding: 16px;
  }

  .row {
    grid-auto-columns: 160px;
  }
}
.section-one{
padding: 24px 48px;
}
.section-one h3 {
  font-size: 20px;
  margin-bottom: 14px;
}
.row-one{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 220px;
  gap: 12px;
  overflow-x: auto;
}

