* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: palegoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.login-card {
    background: #ffffff;
    width: 440px;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* Heading */
.login-card h2 {
    text-align: center;
    color: #ed594b;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

/* Labels */
label {
    font-size: 14px;
    color: #111111;
    margin-bottom: 6px;
    display: block;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 15px;
    transition: 0.3s;
}

input:focus {
    outline: none;
    border-color: #c57a8c;
    box-shadow: 0 0 0 2px rgba(163, 59, 128, 0.2);
}

/* OTP Section */
.otp-box {
    display: flex;
    gap: 10px;
}

.otp-box input {
    flex: 1;
}

.otp-btn {
    padding: 12px 16px;
    background: #3b7fa3;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.otp-btn:hover {
    background: #2c6a8a;
}

/* Main Button */
.main-btn {
    width: 100%;
    padding: 14px;
    background: #691f6b;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.main-btn:hover {
    background: #4f164a;
}

/* Links */
.links {
    text-align: center;
    margin-top: 18px;
}

.links a {
    text-decoration: none;
    color: #a33ba3;
    font-weight: 500;
}

.links a:hover {
    text-decoration: underline;
}

.links p {
    margin-top: 8px;
    color: #555;
}
