*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: white;
    height: 16vh;
    width: 100vw;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
b{
    font-size: 30px;
    color: orange;
}
.option-one{
    display: flex;
    gap: 20px;
}
.option-two{
    display: flex;
     gap: 20px;
}
.pg-two{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pic{
    padding: 5%;
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 30%;
}
.punch{
    position: absolute;
    font-size: 100px;
    font-weight: 1000;
    animation-name: position-change;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}
@keyframes position-change{
    /* 0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(90px);
    }
    100%{
        transform: translateY(0px); */
        from{
            transform: translateY(100px);
        }
        to{
            transform: translateY(0px);
        }
    }
    .intro h1{
       padding-left: 45%;
    }
h1{
    font-size: x-large;
    font-weight: 600;

}
.introduction{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    font-size: large;
    font-weight: 900;
    color: rgba(129, 127, 127, 0.624);
}
button{
    height: 60px;
  width: 250px; 
  margin-left: 42%;
  margin-top: 60px;
  margin-bottom: 80px;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.788);
}
button a{
    text-decoration: none;
}
button:hover{
    color: gray;
}
.small-text{
    color: gray;
    font-size: large;
    font-weight: 900;
    color: rgba(129, 127, 127, 0.624);
    padding-left: 43%;
    padding-bottom: 80px;
}
i{
   font-size: 30px;
   padding-left: 48%;
   padding-bottom: 70px;
}